<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="gridLayout.css">
</head>


<body>
    <div className='main_container'>
        <div className='white_container'>
          <div className='textbox'>
            <h4>GridLayout</h4>
            <h1>Sample</h1>
          </div>

          <div className='grid_container'>
            <div className='grid_item' >
              <img src="https://picsum.photos/400/200" />
              <div className="content_wrapper">
                <h1 className="card_head">AAAAA</h1>
                <button className="card_btn">button</button>
              </div>
            </div>
            <div className="grid_item_double">
              <div className='grid_item'>
                <img src="https://picsum.photos/200/200" />
                <div className="content_wrapper">
                  <h1 className="card_head">AAAAA</h1>
                  <button className="card_btn">button</button>
                </div>
              </div>
              <div className='grid_item'>
                <img src="https://picsum.photos/200/200" />
                <div className="content_wrapper">
                  <h1 className="card_head">AAAAA</h1>
                  <button className="card_btn">button</button>
                </div>
              </div>
            </div>
          </div>

          <div className='grid_container_reverse'>
            <div className="grid_item_double">
              <div className='grid_item'>
                <img src="https://picsum.photos/200/200" />
                <div className="content_wrapper">
                  <h1 className="card_head">AAAAA</h1>
                  <button className="card_btn">button</button>
                </div>
              </div>
              <div className='grid_item'>
                <img src="https://picsum.photos/200/200" />
                <div className="content_wrapper">
                  <h1 className="card_head">AAAAA</h1>
                  <button className="card_btn">button</button>
                </div>
              </div>
            </div>

            <div className='grid_item'>
              <img src="https://picsum.photos/400/200" />
              <div className="content_wrapper">
                <h1 className="card_head">AAAAA</h1>
                <button className="card_btn">button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>