.dir_container{
    width: 70%;
    margin-top: 10%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
    perspective: 1000px;
    div{
        width: 50%;
        height: 40vh;
        display: grid;
        place-content: center;
        font-size: 4rem;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        &:nth-child(1){
            background-color: rgb(210, 220, 220); 
            transition: all .3s;
            top: 0;
            left: 0;
            &:hover{
                background-color: bisque;
                ~ .card{
                    transform-origin: right bottom;
					transform: rotateX(5deg) rotateY(-5deg) translateZ(0);
                }
               
            }           
        }
        &:nth-child(2){
            background-color: rgb(220, 184, 126);
            transition: all .3s;
            top: 0;
            right: 0;
            &:hover{
                background-color: bisque;
                ~ .card{
                    transform-origin: top left;
                    transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0);
                }
            }   
        }
        &:nth-child(3){
            background-color: rgb(190, 177, 229);
            transition: all .3s;
            bottom: 0;
            left: 0;
            &:hover{
                background-color: bisque;
                ~ .card{
                    transform-origin: bottom right;
                    transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0);
                }
            }   
        }
        &:nth-child(4){
            background-color: rgb(135, 211, 155);
            transition: all .3s;
            bottom: 0;
            right: 0;
            &:hover{
                background-color: bisque;
                ~ .card{
                    transform-origin: bottom right;
                    transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0);
                }
            }   
        }
        .card{
            width: 50%;
            height: 50%;
            border: 2px solid red;
            z-index: 9;        
            display: grid;
            place-content: center;
            font-size: 2rem;
            background: rgba(0,0,0,0.3);
        }
    }

    
}